/* Color-Scheme For All Themes*/

* {
    background:    #242424F5;
    background-alt:    	#2B2B2BFF;
    foreground:    #e53935ff;
    border:    #375A7Fff;
    selected:    #375A7Fff;
    urgent:    #FFC107ff;
    logo:    #e53935ff;
    on:    #4CAF50ff;
    off:    #757575ff;
    white: #ffffff;
    transparent: #00000000;
}
