configuration {
    font: "Envy Code R 11";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}
@theme "HOME/.config/rofi/themes/current-theme.rasi"
